body {
    background-color: #f0f0f0;
}

nav li {
    font-size: 1.3em;
}
h1 {
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: blueviolet;
}
.tiffany {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
}



