body {
    background-color: #f0f0f0;
}

nav li {
    font-size: 1.3em;
}
h1 {
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: blueviolet;
}
.tiffany {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
}

.carousel {
    width: 40%;
}

h3 > span {
    font-style: italic;
}

footer > p {
    text-align: right;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


form label {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    font-weight: normal;
}

.container > .row > .col-sm-offset-3 > p {
    font-size: 1.5em;
}
